<body id="guide">
    <%= render partial: 'layouts/nav' %>
    <aside style="background: url('images/dining.jpg')">
    	<div>
    		<h2>Dining</h2>
    	</div>
    </aside>
    <section>
        <article style="background: url('images/1.png')">
    		<div>
    			<h2>Vintage Cave Club</h2>
    			<p><span>French / Japanese, Honolulu, HI</span>Adorned with vintage champagne crystal and Picasso paintings, the private dining club is famed for its extraordinary Japanese-French inspired cuisine.<br><br>Bespoke Benefit: Sommelier Wine experience or private Hennessy Paradis Imperial tasting.</p>
    		</div>
        </article>
        <article style="background: url('images/2.jpg')">
    		<div>
    			<h2>Nobu Honolulu</h2>
    			<p><span>Japanese / Peruvian, Honolulu, HI</span>Globally renowned for its award-winning Japanese-Peruvian fare, Nobu is a major culinary destination. Aside from Chef Nobu Matsuhisa's mouth-watering menu, the atmosphere serves to create a special dining experience.<br><br>Bespoke Benefit: Meet and greet with the Chef and complimentary glass of champagne.</p>
    		</div>
        </article>
        <article style="background: url('images/3.jpg')">
    		<div>
    			<h2>La Mer</h2>
    			<p><span>French, Honolulu, HI</span> The epitome of opulent dining, Honolulu's 5-star and celebrated 5-Diamond restaurant blends Pacific, tropical flavor profiles with inspiration from Southern France. A truly elegant evening is guaranteed.<br><br>Bespoke Benefit: Meet and greet with the Chef and complimentary glass of champagne.</p>
    		</div>
        </article>
        <article style="background: url('images/4.jpg')">
    		<div>
    			<h2>Eating House Tavern 1849</h2>
    			<p><span>Hawaiian, Honolulu, HI</span>Culinary pioneer Roy Yamaguchi pays homage to Hawaii's vibrant culinary heritage executing a casual dining experience with ingredients from local farmers and fishermen.<br><br>Bespoke Benefit: Handmade lei upon arrival.</p>
    		</div>
        </article>
        <article style="background: url('images/45.jpg')">
    		<div>
    			<h2>Bar Leather Apron</h2>
    			<p><span>Intimate Cocktail Bar, Honolulu, HI</span>Co-owners Tom and Justin Park have mined their international travels to create an intimate bar experience at Bar Leather Apron. Located on the mezzanine level of the Topa Financial Center, both Tom and Justin offer exquisite craft cocktails and top-shelf liquor and spirit assortment.</p>
    		</div>
        </article>
    </section>
    <aside style="background: url('images/wellness.jpg')">
    	<div>
    		<h2>Wellness</h2>
    	</div>
    </aside>
    <section>
        <article style="background: url('images/5.jpg')">
    		<div>
    			<h2>Four Seasons Spa</h2>
    			<p><span>Kapolei, HI</span>Inspired by ancient Hawaiian healing traditions, the Naupaka Spa & Wellness Centre offers innovative and luxurious treatments. Our recommendations are The Hanohano Lomilomi, a full body massage with a focus on nurturing and relaxation, and the calming Volcanic Foot and Leg Treatment. Guests can also avail of their signature manicure and pedicures. Chauffer service to and from our preferred salons for manicure and pedicures is additionally available.</p>
    		</div>
        </article>
        <article style="background: url('images/6.jpg')">
    		<div>
    			<h2>Spa Halekulani</h2>
    			<p><span>Honolulu, HI</span>Intertwining authentic Polynesian therapeutic rituals with modern pure products and refined technique. The award-winning salon has an elevated spa experience which is both immersive and rejuvenating.</p>
    		</div>
        </article>
        <article style="background: url('images/65.jpg')">
    		<div>
    			<h2>J Salon</h2>
    			<p><span>Honolulu, HI</span>J Salon is the premiere salon for hairstyling and make-up artistry in Honolulu. Their team of highly-trained stylists combined with modern, sleek design provides a luxurious experience for their clients.</p>
    		</div>
        </article>
        <article style="background: url('images/652.jpg')">
    		<div>
    			<h2>Face Art Beauty</h2>
    			<p>Team of highly trained hair and make-up professionals offering personalized in-room appointments. Specializing in upscale make up and hair style services for all their clients.</p>
    		</div>
        </article>
        <article style="background: url('images/7.jpg')">
    		<div>
    			<h2>Floating Yoga and SUP</h2>
    			<p><span>Kapolei, HI</span>Fun and relaxing yet one of the best full body workouts there is, standup paddle boarding (SUP) is an island favorite and a low impact exercise that everyone can enjoy. Guests can also venture into the clear waters of Ala Moana – or closer to home, one of the Four Seasons’ magical lagoons - for a floating yoga class. For those who prefer drier land, a serene oceanfront yoga and meditation class is also available.</p>
    		</div>
        </article>
    </section>
    <aside style="background: url('images/activities.jpg')">
    	<div>
    		<h2>Activities</h2>
    	</div>
    </aside>
    <section>
        <article style="background: url('images/9.jpg')">
    		<div>
    			<h2>Bespoke Tour of Iolani Palace: Royal Grounds</h2>
    			<p><span>Cultural/Guided Tour + Private Dining, Honolulu, HI</span>Built in 1882 and home to Hawaiian royalty, the palace plays an integral part in understanding the history and culture of Hawaii. Painstakingly restored, the building hosts beautiful ornate decor. It is only palace which exists in the US borders. Following their one-hour guided tour, guests can retire to one of the ground's tranquil lawns for a private lunch.</p>
    		</div>
        </article>
        <article style="background: url('images/10.jpg')">
    		<div>
    			<h2>Day or Night Honolulu Sailing Experience</h2>
    			<p><span>Yachting/Sailing, Kapolei, HI</span>Guests take to the high seas with the choice of two bespoke experiences on board a luxury yacht. By day, guests can soak up the sun and sights and hit the water for snorkeling sessions, while others can opt to set sail as the sun sets and enjoy a sumptuous supper.</p>
    		</div>
        </article>
        <article style="background: url('images/11.jpg')">
    		<div>
    			<h2>North Shore Sunset Helicopter Experience</h2>
    			<p><span>Helicopter/Adventure, Honolulu, HI</span>Guests can savor the stunning sights of Oahu from a new perspective with a helicopter tour of the North Shore. This half hour adventure allows guests to cruise past the iconic landmarks below.</p>
    		</div>
        </article>
        <article style="background: url('images/12.jpg')">
    		<div>
    			<h2>Submarine Expedition</h2>
    			<p><span>Underwater/Adventure, Honolulu, HI</span>A truly unique experience, guests will embark on a tour 100 foot below water on board the world's largest high-tech submarine to observe Hawaii's spectacular ocean life. Green turtles, stingrays and even sharks can be viewed on this unforgettable 1.5 hour adventure.</p>
    		</div>
        </article>
        <article style="background: url('images/13.jpg')">
    		<div>
    			<h2>Rainforest Experience</h2>
    			<p><span>Active/Adventure</span>Guests can journey into their very own private volcanic rainforest. This tour features a 2 mile round trip exploring 75 acres of sacred land. The secluded trail, exclusively accessible to just our guests, grants views of a towering 200-foot waterfall, ancient rock terraces and an abundance of lush tropical vegetation. At 1.5 hours long, this hike promises not to be too taxing, but enough for guests to build up an appetite for a feast of fresh local delicacies.</p>
    		</div>
        </article>
        <article style="background: url('images/15.jpg')">
    		<div>
    			<h2>Exploring Oahu Tour</h2>
    			<p><span>Cultural/Relaxation, Kaneohe, HI</span>Guests are treated to the very best of Oahu with a curated day trip, encompassing the most stunning beaches, the legendary Diamond Head Lookout and a delicious leisurely lunch at the picturesque Haiku Gardens, before taking in downtown historical sites of importance, including Washington Place.</p>
    		</div>
        </article>
    </section>
    <%= render partial: 'layouts/contact' %>
    </body>