#contactModalbg, #contactModal {
    opacity: 0;
    transition: opacity .4s, bottom .2s;
    pointer-events: none;
}

#contactModal {
    bottom: -1000px;
}


#contactModalbg {
    height: 100%;
    width: 100%;
    box-shadow: 0px 5000px 0px rgba(0, 0, 0, 0.6) inset;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}
#contactModal {
    background: rgba(255,255,255,0.9);
    height: 300px;
    width: 80%;
    max-width: 250px;
    margin: auto;
    position: fixed;
    border-radius: 5px;
    top: 85px; left: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    > * {
        max-width: 80%;
        margin: 20px auto;
    }
    h2 {
        font-weight: lighter;
        font-size: 35px;
        margin-top: 10px;
        letter-spacing: 3px;
        span {
            display: block;
            font-weight: lighter;
            font-size: 15px;
        }
    }
    a {
        appearance: none;
        background: rgba(0,0,0,0.8);
        font-family: 'futura', sans-serif;
        color: white;
        border: none;
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        text-decoration: none;
        width: 100%;
    }
    img {
        width: 130px;
        margin-top: -65px;
        border-radius: 100%;
        border: 5px solid white;
        margin-bottom: 0;
    }
    hr {
        width: 60%;
        border: none;
        border-top: 1px solid black;
        background-color: transparent;
    }
}

body.contact {
    #contactModalbg, #contactModal {
        opacity: 1;
        transition: opacity .4s, bottom .2s;
        z-index: 1000;
        overflow: visible;
        pointer-events: all;
    }
    #contactModal {
        bottom: -35px;
    }
}