#modalBG, #contactModal {
    opacity: 0;
    transition: opacity .4s, bottom .2s;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    pointer-events: none;
}

#modalBG {
    height: 100%;
    width: 100%;
    box-shadow: 0px 5000px 0px rgba(0, 0, 0, 0.6) inset;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}
#contactModal {
    background: rgba(255,255,255,0.9);
    height: 230px;
    width: 80%;
    max-width: 200px;
    margin: auto;
    position: fixed;
    border-radius: 5px;
    top: 65px; left: 0; right: 0; bottom: -150%;
    text-align: center;
    text-transform: uppercase;
    > * {
        margin: 10px auto;
    }
    h2 {
        font-weight: lighter;
        font-size: 35px;
        margin-top: 0;
        letter-spacing: 3px;
        span {
            display: block;
            font-weight: lighter;
            font-size: 15px;
        }
    }
    a {
        appearance: none;
        background: rgba(0,0,0,0.8);
        font-family: 'futura', sans-serif;
        color: white;
        border: none;
        padding: 8px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        transition: background .4s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        &:hover {
            background: rgba(40,40,40,0.8);
        }
    }
    img {
        width: 130px;
        margin-top: -65px;
        border-radius: 100%;
        border: 5px solid white;
        margin-bottom: 0;
    }
    hr {
        width: 60%;
        border: none;
        border-top: 1px solid black;
        background-color: transparent;
    }
}

body.contact {
    overflow: hidden;
    #modalBG, #contactModal {
        opacity: 1;
        transition: opacity .4s, bottom .2s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        z-index: 1005;
        overflow: visible;
        pointer-events: all;
    }
    #contactModal {
        bottom: 0px;
    }
}

#oahuModal, #fourseasonsModal {
    background: rgba(255,255,255,0.9);
    height: 210px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    position: fixed;
    border-radius: 5px;
    padding: 25vh 0;
    top: 0; left: 0; right: 0; bottom: -150%;
    text-align: center;
    text-align: left;
    opacity: 0;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    img {
        max-width: 100%;
    }
    p {
        font-size: 13px;
        max-width: 90%;
        margin: 0 auto;
    }
    h6 {
        font-size: 35px;
        margin: 0 auto;
        max-width: 90%;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

#fourseasonsModal {
    height: 320px;
    padding: 17vh 0;
}

@media only screen and (min-width: 400px) {
    #fourseasonsModal {
        height: 250px!important;
    }
}

body.oahu {
    overflow: hidden;
    #modalBG, #oahuModal {
        opacity: 1;
        transition: opacity .4s, bottom .2s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        box-shadow: 0px 5000px 0px rgba(0, 0, 0, 0.5) inset;
        color: white;
        z-index: 1005;
        overflow: visible;
        pointer-events: all;
    }
    #oahuModal {
         bottom: 0;
         div > * {
             max-width: 300px;
             padding: 0 15px;
         }
    }
}

body.fourseasons {
    #modalBG, #fourseasonsModal {
        opacity: 1;
        transition: opacity .4s, bottom .2s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        box-shadow: 0px 5000px 0px rgba(0, 0, 0, 0.5) inset;
        color: white;
        z-index: 1005;
        overflow: visible;
        pointer-events: all;
    }
    #fourseasonsModal {
         bottom: 0;
         div > * {
             max-width: 300px;
             padding: 0 15px;
         }
     }
}