#guide {
    color: white;
    text-align: center;
    background: black;
    -webkit-font-smoothing: subpixel-antialiased;
    #background {
        display: none;
    }
    h2 {
        font-weight: lighter;
        text-transform: uppercase;
    }
    h2, section p {
        margin: 0;
    }
    div {
        max-width: 600px;
        width: 95%;
        margin: 0 auto;
    }
    span {
        display: block;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 25px 0 15px;
    }
    aside, article {
        background-size: cover;
        background-position: center center;
        box-shadow: 0px 5000px 0px rgba(0, 0, 0, 0.5) inset;
    }
    article, section p {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s, padding .75s;
    }
    aside.expanded + section article,
    section article.open p {
        max-height: 400px;
        overflow: visible;
    }
    aside h2 {
        font-size: 25px;
        letter-spacing: 7px;
        padding: 14vh;
    }
    article h2 {
        letter-spacing: 4.5px;
        font-size: 14px;
    }
    article div {
        padding: 0;
    }
    aside.expanded + section article {
        padding: 50px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        line-height: 20px;
        font-size: 14px;
    }
    a {
        color: white;
    }
    
    #powered {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        padding: 10px 0 20px;
        img {
            height: 7px;
            display: block;
            margin: 5px auto 0;
        }
    }
}