#login {
    white-space: nowrap;
    text-align: center;
    background: image-url('background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
    form {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        max-width: 300px;
        input {
            background: none;
            border: none;
            border-bottom: 1px solid gainsboro;
            margin-bottom: 30px;
            box-sizing: border-box;
            letter-spacing: 1px;
            padding: 4px 0;
            color: gainsboro;
            font-size: 17px;
            font-weight: lighter;
            &::placeholder {
                text-transform: uppercase;
            }
            &:focus::placeholder {
                color: transparent;
            }
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px gainsboro inset;
            }
        }
        img {
            max-width: 40%;
            display: block;
            margin: 0 auto 50px;
        }
        input, #button {
            display: block;
            width: 100%;
            font-family: 'futura', sans-serif;
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none;
            &:focus {
                outline: none;
            }
        }
        
    }
    #button {
        background: rgba(220,220,220,0.4);
        color: white;
        appearance: none;
        border: none;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: background .5s;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        cursor: pointer;
        font-size: 14px;
        padding: 5px 0;
        border-radius: 0;
        margin-bottom: 10px;
        &:hover {
            background: darken(gainsboro, 10%);
        }
    }
    .field {
        display: none;
    }
    a {
        color: white;
        text-decoration: none;
    }
}