#mappage {
    overflow: hidden;
}

#map {
    width: 100vw;
    height: calc(100%);
    + #powered {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        margin-bottom: 50px;
        color: white;
        text-align: center;
        opacity: .5;
        padding: 10px 0;
        width: 100%;
        margin: 0;
        position: fixed;
        bottom: 10px;
        left: 0;
        pointer-events: none;
        img {
            height: 7px;
            display: block;
            margin: 5px auto 0;
        }
    }
}

a[title="Zoom in"] { 
    background-color: black;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc, .gm-svpc, .gm-style-mtc {
    display:none;
}