@import 'bourbon';

@font-face {
  font-family: 'futura';
  src: font-url('futura.woff') format('woff'),
    font-url('futura.woff2') format('woff2'),
    font-url('futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraLight';
  src: font-url('futura_light.woff') format('woff'),
    font-url('futura_light.woff2') format('woff2'),
    font-url('futura_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'futura', sans-serif;
}

#welcome, #guide, #admin, #itinerary {
    padding-top: 55px;
}

#background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: image-url('background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

@import 'login';
@import 'nav';
@import 'welcome';
@import 'itinerary';
@import 'guide';
@import 'map';
@import 'contact';
@import 'admin';