@import 'bourbon';
@include font-face('futura', 'fonts/futura', $file-formats: ttf woff2 woff);
@include font-face('futuraLight', 'fonts/futura_light', $file-formats: ttf woff2 woff);

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'futura', sans-serif;
}

#welcome, #guide, #admin {
    padding-top: 55px;
}

#background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: image-url('background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

@import 'login';
@import 'nav';
@import 'welcome';
@import 'itinerary';
@import 'guide';
@import 'map';
@import 'contact';
@import 'admin';