<div id="modalBG"></div>
<div id="contactModal">
    <%= image_tag(@liason.photo_path) %>
    <h2>
        <%= @liason.first_name %>
        <span>Your VIP Liason</span>
    </h2>
    <a href="tel:<%=@liason.phone%>">Call</a>
    <a href="mailto:<%=@liason.email%>?Subject=Aloha" target="_top">Email</a>
</div>