<div id="contactModalbg"></div>
<div id="contactModal">
    <img src="images/user.png">
    <h2>
        Robbie
        <span>Your VIP Liason</span>
    </h2>
    <hr>
    <a href="tel:8005551212">Call</a>
    <a href="mailto:someone@example.com?Subject=Aloha" target="_top">Message</a>
</div>