<div id="contactModalbg"></div>
<div id="contactModal">
    <%= image_tag("liasons/robbie.jpg") %>
    <h2>
        Robbie
        <span>Your VIP Liason</span>
    </h2>
    <hr>
    <button>Call</button>
    <button>Message</button>
</div>